<div class="container text-center">

  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-xs-offset-3 col-xs-6" >
      <h3>Sign up</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-3 col-xs-6 img-rounded light-blue-node" >

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field" style="margin: 2em">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field" style="margin: 2em">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field" style="margin: 2em">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field" style="margin: 2em">
        <%= f.label :password_confirmation, "Repeat your password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions" style="margin: 2em">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
      <% end %>

    </div>
  </div>

  <div style="margin: 1em">
    <%= render "devise/shared/links" %>
  </div>
</div>