<%= form_for(@group) do |f| %>
<% if @group.errors.any? %>
    <div class="row">
      <div class="valign">
        <div id="error_explanation" class="field-margin">
          <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>
          <p class="list-without-style"> 
            <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="field field-margin">
    <%= f.label :name, "Name your new group" %>
    <%= f.text_field :name %>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-primary field-margin") do %>
    <span class="glyphicon <%=button_icon%>"> <span><%=button_caption%></span></span> 
  <% end %>
<% end %>   