<div class="container text-center" >
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <h3>Hi, <%=@user.name%></h3>
    </div>
  </div>

  <div class="row margin-top-with-header">
    <div class="col-xs-offset-4 col-xs-4">
      <h3>Manage your groups</h3>
    </div>
  </div>

  <div class="row margin-top" >
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 light-blue-node img-rounded" >
      <div class="row">

        <%if @groups.length == 0%>

          <div class="col-xs-offset-3 col-xs-6">
            <p>No groups yet</p>

          </div>
          
        <%else%>

          <%@groups.each do |group| %>

            <div class="col-xs-offset-0 col-xs-4 margin-top-valign">
              <p><%=link_to( group.name, group_url(group.id), method: "GET" )%></p> 
            </div>
            
            <%if(isUserAdmin?(group.id))%>

              <div class="col-xs-offset-0 col-xs-4 ">
                <p>
                  <%=link_to group_url(group.id), method: "DELETE", class: "btn btn-primary no-link" do%>
                    <span class="glyphicon glyphicon-trash"> Delete</span>
                  <% end %>
                </p>
              </div>
              <div class="col-xs-offset-0 col-xs-4 ">
                <p>
                  <%=link_to edit_group_url(group.id), class: "btn btn-primary no-link" do%>
                    <span class="glyphicon glyphicon-wrench"> Edit group</span>
                  <% end %>
                </p>
              </div>
            
            <%else%>

              <div class="col-xs-offset-2 col-xs-6 ">
                <p>
                  <%=link_to group_exit_group_url(group.id), method: "DELETE", class: "btn btn-primary no-link" do%>
                    <span class="glyphicon glyphicon-remove"> Exit group</span>
                  <% end %>
                </p>              
              </div>              
            
            <%end%>

          <%end%>

        <%end%>
      </div>
      
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10" >
            <p><%=link_to( "Create group", new_group_url)%></p> 
        </div>
      </div>
    </div>
  </div>


  <div class="row margin-top-with-header" >
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10" >
        <h3>Pending invitations</h3>
    </div>
  </div>
  
  <div class="row margin-top" >
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 light-blue-node img-rounded">
      <%if @invitations.length == 0 %>
        <p> No pending invitations </p>
      <%else %>
        <%@invitations.each do |invitation| %>
          <div class="row margin">
            <div class="col-xs-offset-0 col-xs-8 margin-top-valign">        
                <% link_text = invitation.group.admin.user.name + " invited you to " + invitation.group.name%>
                <span>
                  <%=link_to(link_text, group_invitation_url(invitation.group_id, invitation.id), method: "DELETE" )%>
                </span>
            </div>

            <div class="col-xs-offset-2 col-xs-2">        
              <%=link_to("Delete", group_delete_invitation_url(invitation.group_id, invitation.id), method: "DELETE", class: "btn btn-primary" )%>           
            </div>          
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
    

</div>





<!-- <h3><%=link_to("Pending invitations", "/invitations/" )%></h3> -->



