<div class="container text-center">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <h3>New Group</h3>
    </div>
  </div>

  <div class="row margin-top-with-header">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
      <%= form_for(@group) do |f| %>
      <% if @group.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

            <ul> 
            <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field field-margin">
          <%= f.label :name, "Name your new group" %>
          <%= f.text_field :name %>
        </div>

        <%= button_tag(type: 'submit', class: "btn btn-primary field-margin") do %>
          <span class="glyphicon glyphicon-plus"> <span>Create Group</span></span> 
        <% end %>
      <% end %>    
    </div>    
  </div>
</div>
