
<div class="container text-center">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h3>Group <%=@group.name%></h3>
    </div>
  </div>
  
  <div class="row" style="margin-top: 3em">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h3>Users</h3>    
    </div>
  </div>


  <% if (!@isUserAdmin) %>

    <div class="row" style="margin-top: 1em">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
        
        <%@users.each do |user|%>

          <%if user == @group.admin.user%>
            <%next%>
          <%end%>

          <%if user == current_user%>

            <div class="row" style="margin: 1em">
              <div class="col-xs-offset-1 col-xs-4 img-rounded light-blue-node" >
                <strong> <%=user.name%> </strong>
              </div>
              <div class="col-xs-offset-2 col-xs-4 img-rounded light-blue-node" >
                <strong> <%=user.email%> </strong>
              </div>
            </div>

          <%else%>

            <div class="row" style="margin: 1em">
              <div class="col-xs-offset-1 col-xs-4 img-rounded light-blue-node" >
                <%=user.name%>
              </div>
              <div class="col-xs-offset-2 col-xs-4 img-rounded light-blue-node" >
                <%=user.email%>
              </div>
            </div>

          <%end%>

        <%end%>

      </div>
    </div>
      
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10" >
        <h3>Admin</h3>
      </div>
    </div>

    <div class="row" style="margin-top: 1em">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
        <div class="row" style="margin: 1em">
          <div class="col-xs-offset-1 col-xs-4 img-rounded light-blue-node" >
            <%=@group.admin.user.name%>
          </div>
          <div class="col-xs-offset-2 col-xs-4 img-rounded light-blue-node" >
            <%=@group.admin.user.email%>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <div class="row" style="margin-top: 1em">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
        
        <%@users.each do |user|%>
          <% if (user != current_user) %>

            <div class="row" style="margin: 1em">
              <div class="col-xs-offset-0 col-xs-4" >
                <%=user.name%>
              </div>
              <div class="col-xs-offset-0 col-xs-4" >
                <%=user.email%>
              </div>

              <div class="col-xs-offset-0 col-xs-4" >
                <%= link_to "Delete user", group_delete_user_from_group_url(@group.id, user.id), method: "DELETE"%>
              </div>
            </div>

          <%else%>

            <div class="row" style="margin: 1em">
              <div class="col-xs-offset-0 col-xs-4" >
                <strong> <%=user.name%> </strong> 
              </div>
              <div class="col-xs-offset-0 col-xs-4" >
                <strong> <%=user.email%> </strong> 
              </div>

              <div class="col-xs-offset-0 col-xs-4" >
                <strong>  Admin </strong> 
              </div>
            </div>

          <%end%>

        <%end%>

      </div>
    </div>
  <%end%>

  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" >
      <h3>Events</h3>
    </div>
  </div>

  <div class="row" style="margin-top: 1em">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
      <%@events.each do |event|%>
        <div class="row" style="margin: 1em">
          <div class="col-xs-offset-0 col-xs-3" >
            <%=event.name%>
          </div>
          <div class="col-xs-offset-0 col-xs-5" >
            <div class="time-with-time-zone">
              <%=event.deadline%>
            </div>  
          </div>
        
          <div class="col-xs-offset-0 col-xs-2" >
            link_to "Answer"
          </div>
          <div class="col-xs-offset-0 col-xs-2" >
          
            link_to "Decline"
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <% if(@isUserAdmin) %>

    <div class="row" style="margin-top: 1em">
      <h3> Management panel </h3>
    </div>

    <div class="row" style="margin-top: 1em">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">

        <p><%= link_to "Invite users", new_group_invitation_url(@group.id), method: "GET" %></p>
        <p><%= link_to "Create event", new_group_event_url(@group.id) %></p>

      </div>
    </div>

    <div class="row" style="margin-top: 1em">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
        <%@events.each do |event|%>
          <div class="row" style="margin: 1em">
            <div class="col-xs-offset-0 col-xs-3" >
              <%=event.name%>
            </div>
            <div class="col-xs-offset-0 col-xs-3" >
              <%= link_to "Delete"%>
            </div>
          
            <div class="col-xs-offset-0 col-xs-3" >
              <%= link_to "Edit"%>
            </div>
            <div class="col-xs-offset-0 col-xs-3" >
              <%= link_to "End"%>
            </div>
          </div>
        <%end%>
      </div>
    </div>

  <%end%>

  <div class="row" style="margin-top: 1em">
     <%= link_to "Go back to your profile", show_user_url  %>
  </div>

</div>