
<div class="container text-center">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h3>Group <%=@group.name%></h3>
    </div>
  </div>
  
  <div class="row margin-top-with-header">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h3>Group members</h3>    
    </div>
  </div>


  <% if (!@isUserAdmin) %>

    <div class="row margin-top">
      <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
        
        <%@users.each do |user|%>

          <%if user == @group.admin.user%>
            <%next%>
          <%end%>

          <%if user == current_user%>

            <div class="row margin">
              <div class="col-xs-offset-1 col-xs-4 img-rounded light-blue-node" >
                <strong> <%=user.name%> </strong>
              </div>
              <div class="col-xs-offset-2 col-xs-4 img-rounded light-blue-node" >
                <strong> <%=user.email%> </strong>
              </div>
            </div>

          <%else%>

            <div class="row margin">
              <div class="col-xs-offset-1 col-xs-4 img-rounded light-blue-node" >
                <%=user.name%>
              </div>
              <div class="col-xs-offset-2 col-xs-4 img-rounded light-blue-node" >
                <%=user.email%>
              </div>
            </div>

          <%end%>

        <%end%>

      </div>
    </div>
      
    <div class="row">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10" >
        <h3>Admin</h3>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
        <div class="row margin">
          <div class="col-xs-offset-1 col-xs-4 img-rounded light-blue-node" >
            <%=@group.admin.user.name%>
          </div>
          <div class="col-xs-offset-2 col-xs-4 img-rounded light-blue-node" >
            <%=@group.admin.user.email%>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <div class="row margin-top">
      <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
        
        <%@users.each do |user|%>
          <% if (user != current_user) %>

            <div class="row margin">
              <div class="col-xs-offset-0 col-xs-4 margin-top-valign" >
                <%=user.name%>
              </div>
              <div class="col-xs-offset-0 col-xs-4 margin-top-valign" >
                <%=user.email%>
              </div>

              <div class="col-xs-offset-0 col-xs-4" >
                <span><%= link_to "Delete user", group_delete_user_from_group_url(@group.id, user.id), 
                method: "DELETE", class: "btn btn-primary no-link"%></span>    
              </div>
            </div>

          <%else%>

            <div class="row margin">
              <div class="col-xs-offset-0 col-xs-4" >
                <strong> <%=user.name%> </strong> 
              </div>
              <div class="col-xs-offset-0 col-xs-4" >
                <strong> <%=user.email%> </strong> 
              </div>

              <div class="col-xs-offset-0 col-xs-4" >
                <strong>  Admin </strong> 
              </div>
            </div>

          <%end%>

        <%end%>

      </div>
    </div>
  <%end%>

  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" >
      <h3>Events</h3>
    </div>
  </div>

  <div class="row margin-top">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
      <%if @events.length == 0%>
        <p class="margin">
          No events. 
          <% if(@isUserAdmin) %>
            <%= link_to "Create your first event", new_group_event_url(@group.id) %>
          <%end%>  
        </p>        
      <% else %>
        <div class="row margin">
          <div class="col-xs-offset-0 col-xs-4" >
            <strong> Name </strong>
          </div>
          <div class="col-xs-offset-0 col-xs-4" >
            <strong> Deadline </strong>
          </div>
        </div>

        <%@events.each do |event|%>
          <div class="row margin">
            <div class="col-xs-offset-0 col-xs-4 margin-top-valign" >
              <%=event.name%>
            </div>
            <div class="col-xs-offset-0 col-xs-4 margin-top-valign" >
              <div class="time-with-time-zone">
                <%=event.deadline%>
              </div>  
            </div>
          
            <div class="col-xs-offset-0 col-xs-1" >
              <span class="pull-right text-right">
                <%=link_to "Answer", group_event_vote_url(@group.id, event.id), 
                method: "GET", class: "btn btn-primary", style: "color: white"%>
              </span> 
            </div>          

            <div class="col-xs-offset-1 col-xs-1" >
              <span class="pull-right text-right">
                <%=link_to "See results", group_event_url(@group.id, event.id), 
                method: "GET", class: "btn btn-primary", style: "color: white"%>
              </span> 
            </div>          

          </div>
        <%end%>
      <%end%>


    </div>
  </div>

  <% if(@isUserAdmin) %>
    <div class="row margin-top">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" >
        <h3>Management panel</h3>
      </div>
    </div>

    <div class="row margin-top">
      <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">

        <p><%= link_to "Invite users", new_group_invitation_url(@group.id), method: "GET" %></p>
        <p><%= link_to "Create event", new_group_event_url(@group.id) %></p>

      </div>
    </div>

    <div class="row margin-top">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" >
        <h4>Manage events</h4>
      </div>
    </div>

    <% if @events.length != 0 %>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
          <%@events.each do |event|%>
            <div class="row margin">
              <div class="col-xs-offset-0 col-xs-3 margin-top-valign" >
                <%=event.name%>
              </div>
              <div class="col-xs-offset-0 col-xs-3" >
              <%=link_to "Edit", edit_group_event_url(@group.id, event.id), method: "get", 
              class: "btn btn-primary", style: "color: white" %>
              </div>

              <div class="col-xs-offset-0 col-xs-3" >
                <button class="btn btn-primary btn-finish-votation" data-token=<%= form_authenticity_token %> 
                data-group=<%=@group.id%> data-event=<%=event.id%>>
                  Finish votation
                </button>
              </div>
            
              <div class="col-xs-offset-0 col-xs-3" >
              <%=link_to "Delete", group_event_url(@group.id, event.id), method: "delete", 
              class: "btn btn-primary", style: "color: white" %>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    <% else %>
      <div class="row margin-top">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
          <div class="margin">
            No events to manage
          </div> 
        </div>
      </div>

    <% end %>

    <div class="row margin-top">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" >
        <h4>Manage invitations</h4>
      </div>
    </div>

    <%if @invitations.length != 0 %>

      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">

          <div class="row margin">
            <div class="col-xs-offset-0 col-xs-5" >
              <strong> User to Group </strong>
            </div>
            <div class="col-xs-offset-0 col-xs-4" >
              <strong> Deadline </strong>
            </div>
          </div>


          <%@invitations.each do |invitation|%>
            <div class="row margin">
              <div class="col-xs-offset-0 col-xs-5 margin-top-valign" >
                <%=invitation.user.name %> to <%=invitation.group.name%>
              </div>
              <div class="col-xs-offset-0 col-xs-4 margin-top-valign" >
                <div class="time-with-time-zone">
                  <%=invitation.created_at%>
                </div>
              </div>


              <div class="col-xs-offset-0 col-xs-3" >
              <%=link_to "Delete invitation", group_delete_invitation_url(@group.id, invitation.id), method: "delete", 
              class: "btn btn-primary", style: "color: white" %>
              </div>

            </div>
          <%end%>
        </div>
      </div>

    <%else%>

      <div class="row margin-top">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
          <div class="margin">
            No invitations pending
          </div> 
        </div>
      </div>
    
    <%end%>

  <%end%>

  <div class="row margin-top">
      <div class="col-md-2 col-md-offset-8 col-xs-1 col-md-offset-10">
        <div class="success-messages light-blue-node img-rounded text-center"></div>
        <div class="error-messages img-rounded text-center alert-color"></div>
      </div>
  </div>

  <div class="row margin-top">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
      <span>
        <%= link_to "Go back to your profile", groups_url  %>
      </span>
    </div>
  </div>

</div>