<div class="container img-rounded" >
  <div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
      <h3>Hi, <%=@user.name%></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
      <h3>Manage your groups</h3>
    </div>
  </div>

  <div class="row text-center" >
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8 img-rounded light-blue-node" >
      <div class="row">

        <%if @groups.length == 0%>

          <div class="col-xs-offset-0 col-xs-5" style="margin: 1em">
            No groups yet

          </div>
          <div class="col-xs-offset-2 col-xs-5" style="margin: 1em">
            <%=link_to( "Create your first group", new_group_url)%>
          </div>
          
        <%else%>

            <%@groups.each do |group| %>
              <div class="col-xs-offset-0 col-xs-5" style="margin: 1em">
                <p><%=link_to( group.name, group_url(group.id), method: "GET" )%></p> 
              </div>
              <div class="col-xs-offset-2 col-xs-5" style="margin: 1em">
                <%if(isUserAdmin?(group.id))%>
                  <p><%=link_to("Delete group", group_url(group.id), method: "DELETE")%></p> 
                <%else%>
                  <p><%=link_to("Exit group", group_exit_group_url(group.id), method: "DELETE")%></p> 
                <%end%>
              </div>
            <%end%>

        <%end%>

      </div>
    </div>
  </div>

  <%if @groups.length != 0%>
    <div class="row text-center" >
      <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8 img-rounded light-blue-node" style="margin-top: 2em" >
          <p><%=link_to( "Create group", new_group_url)%></p>
      </div>
    </div>
  <%end%>

  <div class="row text-center" style="margin-top: 3em">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h3>Pending invitations</h3>
    </div>
  </div>

  <div class="row" >
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8 img-rounded text-center light-blue-node">
      <%if @invitations.length == 0 %>
        <p style="font-size: 16px"> No pending invitations </p>
      <%else %>
        
        <%@invitations.each do |invitation| %>
            <% link_text = invitation.group.admin.user.name + " invited you to " + invitation.group.name%>
            <p><%=link_to(link_text, group_invitation_url(invitation.group_id, invitation.id), method: "DELETE" )%></p>
          
        <%end%>
        </ul>
      <%end%>
    </div>
  </div>



</div>



<!-- <h3><%=link_to("Pending invitations", "/invitations/" )%></h3> -->



