<div class="container text-center">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h3> <%=@group.name + "\'s " + @event.name %></h3>
    </div>
  </div>
  
  <div class="row" style="margin-top: 3em">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h4><%=@event.description %></h4>    
    </div>
  </div>


  <div class="row" style="margin-top: 1em">
    <div class="col-md-offset-1 col-md-10 img-rounded light-blue-node">
      <div class="row" style="margin: 1em">
        <div class="col-xs-offset-0 col-xs-3 img-rounded light-blue-node" >
          <strong> Action </strong>
        </div>
        <div class="col-xs-offset-0 col-xs-3 img-rounded light-blue-node" >
          <strong> Meeting Place </strong>
        </div>
        <div class="col-xs-offset-0 col-xs-4 img-rounded light-blue-node" >
          <strong> Meeting Time </strong>
        </div>
      </div>
      

          <%@appointments.each do |appointment| %>
            <div class="row" style="margin: 1em">
              <% votation = appointment.votations.find_by(user_id: @user.id) %>
              <div class="col-xs-offset-0 col-xs-3 img-rounded light-blue-node" style="margin-top: 1.2em">
                <%= appointment.action%>
              </div>
              <div class="col-xs-offset-0 col-xs-3 img-rounded light-blue-node" style="margin-top: 1.2em">
                <%= appointment.place%>
              </div>
              <div class="col-xs-offset-0 col-xs-4 img-rounded light-blue-node" style="margin-top: 1.2em">
                <span class="time-with-time-zone"> <%= appointment.time %> </span>
              </div>
              <div class="col-xs-offset-0 col-xs-2 img-rounded light-blue-node slider-change-color" 
              data-id=<%=votation.id.to_s%> style="background-color: white">
                  <span>
                    <span class="value value-from-slider" data-id=<%=votation.id.to_s%> data-group=<%=@group.id.to_s%> 
                    data-event=<%=@event.id.to_s%>>
                      <%=votation.result%>
                    </span>
                    <input type="range" min="0" max="100" data-id=<%=votation.id.to_s%>>
                  </span>​
              </div>

            </div>
          <%end%>
        </div>
      </div>

      <div class="row" style="margin-top: 1em">
<!--           <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %> -->          
        <button class="btn btn-primary btn-send-votation" data-token=<%= form_authenticity_token %>>
          Send Votation
        </button>
     </div>

      <div class="row" style="margin-top: 1em">
       <%= link_to "Go back to group", group_url(@group.id)  %>
     </div>

  <!-- <script type="text/javascript"> window._token = '';</script> -->
   </div>

