<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10" >
      <h3> <%=@group.name + "\'s " + @event.name %></h3>
    </div>
  </div>
  
  <div class="row margin-top-with-header">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10" >
      <h4><%=@event.description %></h4>    
    </div>
  </div>


  <div class="row margin-top">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10 img-rounded light-blue-node">
      <div class="row margin">
        <div class="col-xs-3" >
          <strong> Action </strong>
        </div>
        <div class="col-xs-3" >
          <strong> Meeting Place </strong>
        </div>
        <div class="col-xs-4" >
          <strong> Meeting Time </strong>
        </div>
      </div>
      

      <%@appointments.each do |appointment| %>
        <div class="row margin">
          <% #votation = appointment.votations.find_by(user_id: @user.id) %>
          <% votation = @appointments_votation_map[appointment.id] %>
          <div class="col-xs-3 valign">
            <%= appointment.action%>
          </div>
          <div class="col-xs-3 valign">
            <%= appointment.place%>
          </div>
          <div class="col-xs-4 valign">
            <span class="time-with-time-zone"> <%= appointment.time %> </span>
          </div>
          
            <div class="col-xs-2 img-rounded light-blue-node slider-change-color valign" 
            data-id=<%=votation.id.to_s%>>
                <span>
                  <span class="value value-from-slider" data-id=<%=votation.id.to_s%> data-group=<%=@group.id.to_s%> 
                  data-event=<%=@event.id.to_s%>>
                    <%=votation.result%>
                  </span>
                  <input type="range" min="0" max="100" data-id=<%=votation.id.to_s%>>
                </span>​
            </div>
          
        </div>
      <%end%>
      
      <%if @isUserAdmin%>
        <div class="row margin">
          <div class="col-xs-offset-1 col-xs-10">
            <span>
              <%= link_to "Add new possible meetup place/action/schedule", 
              new_group_event_appointment_url(@group.id, @event.id), method: "get"  %>
            </span>
          </div>
        </div>
      <%end%>

    </div>
  </div>

  <div class="row margin-top">
    <div class="col-xs-offset-1 col-xs-5 col-md-offset-2 col-md-3">
      <button class="btn btn-success btn-send-votation" data-token=<%= form_authenticity_token %>>
        <span class="glyphicon glyphicon-send"> <span>Send Votation</span> </span>
      </button>
    </div>

    <div class="col-xs-5 col-md-offset-2 col-md-3" title="Check this option if you aren't going to an event no matter what">
        <button class="btn btn-danger btn-not-going hover" data-token=<%= form_authenticity_token %>>
          <span class="glyphicon glyphicon-remove"> <span>Not going</span> </span>
        </button>
    </div>

  </div>


  <div class="row margin-top">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
      <ul class="list-without-style list-inline">
        <li><%= link_to "See results", group_event_url(@group.id, @event.id), method: "get"%></li>
        <li><%= link_to "Go back to group", group_url(@group.id), method: "get"  %></li>
      </ul>
    </div>    
  </div>


  <div class="row margin-top">
      <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <div class="success-messages light-blue-node img-rounded text-center"></div>
        <div class="error-messages img-rounded text-center alert-color"></div>
      </div>
  </div>

</div>

