<div class="container text-center">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h3> <%=@group.name + "\'s " + @event.name %></h3>
    </div>
  </div>
  
  <div class="row" style="margin-top: 3em">
    <div class="col-md-offset-3 col-md-6 col-xs-offset-2 col-xs-8" >
      <h4><%=@event.description %></h4>    
    </div>
  </div>


  <div class="row" style="margin-top: 1em">
    <div class="col-md-offset-1 col-md-10 img-rounded light-blue-node">
      <div class="row" style="margin: 1em">
        <div class="col-xs-offset-0 col-xs-2 img-rounded light-blue-node" >
          <strong> Action </strong>
        </div>
        <div class="col-xs-offset-0 col-xs-3 img-rounded light-blue-node" >
          <strong> Meeting Place </strong>
        </div>
        <div class="col-xs-offset-0 col-xs-3 img-rounded light-blue-node" >
          <strong> Meeting Time </strong>
        </div>
        <div class="col-xs-offset-0 col-xs-2 img-rounded light-blue-node" >
          <strong> Result </strong>
        </div>
        <div class="col-xs-offset-0 col-xs-2 img-rounded light-blue-node" >
          <strong> # of votes </strong>
        </div>

      </div>
      

      <%@appointments.each do |appointment| %>
        <div class="row" style="margin: 1em">
          <% votation = @appointments_result[appointment.id] %>
          <div class="col-xs-offset-0 col-xs-2 img-rounded light-blue-node" style="margin-top: 1.2em">
            <%= appointment.action%>
          </div>
          <div class="col-xs-offset-0 col-xs-3 img-rounded light-blue-node" style="margin-top: 1.2em">
            <%= appointment.place%>
          </div>
          <div class="col-xs-offset-0 col-xs-3 img-rounded light-blue-node" style="margin-top: 1.2em">
            <span class="time-with-time-zone"> <%= appointment.time %> </span>
          </div>
          <div class="col-xs-offset-0 col-xs-2 img-rounded light-blue-node" style="margin-top: 1.2em">
            <%= link_to votation[:average], group_event_appointment_url(@group.id, @event.id, appointment.id)%>
          </div>
          <div class="col-xs-offset-0 col-xs-2 img-rounded light-blue-node" style="margin-top: 1.2em">
            <%= link_to votation[:number], group_event_appointment_url(@group.id, @event.id, appointment.id)%>
          </div>
                    
        </div>
      <%end%>
    </div>
  </div>

  <%if(@isAdmin)%>
    <div class="row margin-top">
      <button class="btn btn-primary btn-finish-votation" data-token=<%= form_authenticity_token %> 
      data-group=<%=@group.id%> data-event=<%=@event.id%>>
        Finish votation
      </button>
    </div>
  <%end%>

  <div class="row" style="margin-top: 1em">
    <%= link_to "Go back to event vote", group_event_url(@group.id, @event.id), method: "get" %>
  </div>


  <div class="row" style="margin-top: 1em">
    <%= link_to "Go back to group", group_url(@group.id), method: "get"  %>
  </div>


  <div class="row margin-top">
      <div class="col-md-4 col-md-offset-4">
        <div class="success-messages light-blue-node img-rounded text-center"></div>
        <div class="error-messages img-rounded text-center alert-color"></div>
      </div>
  </div>

</div>

