
<div class="container text-center">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10" >
      <h3>Creating Event <%=@event.name%> for <%=@group.name%></h3>
    </div>
  </div>
  
  <div class="row" style="margin-top: 3em">
    <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10" >
      <h3>Possible meetups</h3>    
    </div>
  </div>

  <div class="img-rounded light-blue-node">
    <div class="row" style="margin-top: 1em">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
        
        <%@appointments.each do |appointment|%>

            <div class="row" style="margin: 1em">
              <div class="col-xs-offset-0 col-xs-4 img-rounded light-blue-node" >
                <strong> <%=appointment.action%> </strong>
              </div>
              <div class="col-xs-offset-0 col-xs-4 img-rounded light-blue-node" >
                <strong> <%=appointment.place%> </strong>
              </div>
              <div class="col-xs-offset-0 col-xs-4 img-rounded light-blue-node" >
                <strong> <span class="time-with-time-zone"> <%=appointment.time%> </span></strong>
              </div>
            </div>

        <%end%>
          <div class="row" style="margin: 1em">
            <div class="col-xs-offset-1 col-xs-10">
                <%= link_to "Add new possible meetup place/action/schedule", new_appointment_url(@group.id, @event.id)  %>
            </div>
          </div>

      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 1em">
     <%= link_to "Go back to group", show_group_url(@group.id)  %>
  </div>

</div>


<script type="text/javascript">
  $(document).ready(function(){
    var datetimes = $(".time-with-time-zone");

    var monthNames = ["Jan", "Feb", "March", "April", "May", "June",
  "July", "Aug", "Sept", "Oct", "Nov", "Dec"];

    for(var i = 0; i < datetimes.length; i++){
      var d = new Date(datetimes[i].innerHTML.trim());

      datetimes[i].innerHTML = d.getDate() + " " + monthNames[d.getMonth()] + " " 
        + String(d.getFullYear()).slice(2,4) + " " + d.toLocaleTimeString();      
    }
  });
</script>
