<!DOCTYPE html>
<html>
  <head>
    <title>Third</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  </head>

  <body>
    <%= csrf_meta_tag %> 
    
    <nav role="main" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-md-offset-0 col-xs-4 col-md-offset-0">
            <ul class="nav navbar-nav vertical-center">
              <li><%=link_to "Home", show_user_url %></li> 
              <li><%=link_to "Create Group", new_group_url %></li> 
            </ul>
          </div>
             

          <div class="col-xs-4 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1" >
            <%= image_tag "logo.png", class: "img-responsive" %> 
          </div>

          <div class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3 col-lg-1 col-lg-offset-4">
            <ul class="nav navbar-nav vertical-center">
                <% if user_signed_in? %>
                  <!-- <li><%= current_user.name %></li> -->
                  <li><%= link_to 'Log out', destroy_user_session_path, method: 'DELETE' %></li>
                <% elsif params[:controller].split("/")[0] != "devise" %>
                      <li><%= link_to 'Sign up', new_user_registration_path %></li>
                      <li><%= link_to 'Log in', new_user_session_path %></li>
                <% end %>

            </ul>
          </div>


        </div>
      </div>
    </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="flash light-blue-node img-rounded text-center"><%= notice %></div>
            <div class="flash img-rounded text-center" style="background-color: #ffadad"><%= alert %></div>
          </div>
        </div>
      </div>

    <%= yield %>

  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Site Built By Mr. ICO.
           <!-- <a href="http://tinyurl.com/tbvalid" target="_blank" >HTML 5 Validation</a> -->
      </p>
      
      <a href="https://github.com/nanaky92" class="navbar-btn btn-primary btn pull-right">
       <font color="white"> <span class="glyphicon glyphicon-star"></span> Check my GitHub </font></a>
    </div>
    
    
  </div>
  </body>
</html>
