<!DOCTYPE html>
<html>
  <head>
    <title>Coodle Hackshow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  </head>

  <body style="padding-top: 7em">
    <%= csrf_meta_tag %> 
    
    <nav role="main" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3 col-sm-4 col-xs-offset-0">
            <ul class="nav navbar-nav margin-navbar">
              <li>
                <%=link_to groups_url do%>
                  <span class="glyphicon glyphicon-home"><span> Home</span></span>
                <%end%>
              </li> 
              <li>
                <%=link_to new_group_url do%>
                  <span class="glyphicon glyphicon-plus"><span> Create Group</span></span>
                <%end%>
              </li> 
            </ul>
          </div>


          <div class="col-xs-6 col-sm-4" >
            <div class="text-center">
              <%= image_tag "logo.png", class: "img-responsive", style: "margin: 0 auto;" %>               
            </div>
          </div>

          <% if user_signed_in? %>
      
            <div class="col-xs-3 col-sm-2 col-sm-offset-2">
              <ul class="nav navbar-nav valign">
                  <li class="pull-right">
                    <%= link_to destroy_user_session_path, method: 'DELETE' do%>
                      <span class="glyphicon glyphicon-log-out"><span> Log out</span></span>
                    <%end%>
                  </li>
              </ul>
            </div>
          <% elsif params[:controller].split("/")[0] != "devise" %>
            <div class="col-xs-3 col-xs-offset-1 col-md-2 col-md-offset-2">
              <ul class="nav navbar-nav valign">          
                <li><%= link_to 'Sign up', new_user_registration_path %></li>
                <li><%= link_to 'Log in', new_user_session_path %></li>
              </ul>
            </div>
          <% end %>



        </div>
      </div>
    </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <div class="flash light-blue-node img-rounded text-center"><%= notice %></div>
            <div class="flash img-rounded text-center alert-color"><%= alert %></div>
          </div>
        </div>
      </div>

    <%= yield %>

<!--   <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Site Built By Mr. ICO.
      </p>
      
      <a href="https://github.com/nanaky92" class="navbar-btn btn-primary btn pull-right">
       <font color="white"> <span class="glyphicon glyphicon-star"></span> Check my GitHub </font></a>
    </div>
    
    
  </div>
 -->  </body>
</html>
